$bg-button: #f0f0f0;
$border-button: solid 1px #888;

.Button {
  font-size: 1.4em;
  background-color: $bg-button;
  border: none;
  border-right: $border-button;
  border-bottom: $border-button;
  outline: none;
  width: 100%;
  height: 100%;

  &:active {
    background-color: #ccc;
  }

  &.double {
    grid-column: span 2;
  }

  &.triple {
    grid-column: span 3;
  }

  &.operation {
    background-color: #fa8231;
    color: #fff;

    &:active {
      background-color: #fa8231cc;
    }
  }
}
